* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  text-align: left;
  background-color: aliceblue;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

main {
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
}

form {
  display: grid;
  gap: 0.8rem;
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  padding: 1rem;
}

#toastContainer {
  display: flex;
  align-items: center;
}

input,
select,
button {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
}

.hidden {
  display: none;
}

.empty-message {
  text-align: center;
  padding: 1rem;
}

.toast {
  padding: 10px 14px;
  margin: 6px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
}

.toast-success {
  background: green;
}
.toast-info {
  background: dodgerblue;
}
.toast-error {
  background: crimson;
}
